/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
} */

.player1Cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.player2Cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

/* .hidden{
	display: inherit;
} */


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
