/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
/* img{
  display: block;
  margin: 0 auto;
} */

body{
  background-image: url(https://media.istockphoto.com/id/672556284/photo/green-felt-and-playing-chips-abstract-background.jpg?s=612x612&w=0&k=20&c=qCon6tBWqG3-dLMxVkTlOA7d5QKD6KC8W32p3H2N-MQ=);
  background-repeat: no-repeat;
  background-size: cover;
}


.player1Cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.player2Cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.hidden{
	display: none;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
